
.order{
    margin: 0 150px 0 150px;
    font-family: "Poppins", "Segoe UI", sans-serif;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns:1.5fr 1fr;
    gap: 30px;
}

.order-image .group{
    text-decoration: none;
}

.order-image h2{
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    color: #333;
    font-weight: bold;

}

.order-image h2:hover{
    color: #ff003b;
}

.order-info{
    display: grid;
    grid-template-columns:1fr 1fr;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}

.order-info-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-info-left h3{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.order-info-left span{
    font-size: 14px;
    font-weight: 400;
}


.order-info-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-info-right h3{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.order-info-right span{
    font-size: 14px;
    font-weight: 400;
}

.order-info-thanks{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
}

.order-info-thanks h3{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.order-info-thanks span{
    font-size: 14px;
    font-weight: 400;
}


.checkout-sidebar {
    padding: 10px 0 0 20px;
    border-left: 2px solid  #eeeeee;
    top: 30px;
}

.order-amount h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 15px;
}

.order-product {
    display: flex;
    flex-direction: column;
}

.order-summary {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: #cccccc #f0f0f0;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #eeeeee;
}

.cart-row:last-child {
    border-bottom: none;
}

.cart-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-image {
    position: relative;
    flex-shrink: 0;
}

.cart-image .cart-item img {
    width: 60px;
    height: 60px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    background-color: #fff;
    object-fit: contain;
}

.quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #3498db;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 12px;
    font-weight: 400;
}

.cart-item-name {
    font-size: 15px;
    color: #333;
    text-decoration: none;
}

.price-total span {
    font-size: 15px;
    font-weight: 500;
    color: #c97a3a;
}

.cart-item-name:hover {
    color: #c97a3a;
}

.order-total {
    margin-top: 20px;
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
}

.order-total-top, .order-total-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.price{
    color: #c97a3a;
}

.order-price {
    margin-top: 10px;
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
}

.order-price-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.order-price-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-price-bottom a {
    color: #3498db;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.order-price-bottom button {
    background-color: #3498db;
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-price-bottom button:hover {
    background-color: #2378ea;
}
